<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password for your PurplePlate account. You can do this through the link below.</p>

<% 
  # Use the correct frontend URL for password reset
  frontend_url = Rails.env.production? ? 
    "https://#{ENV['HOST'] || 'dining-finder-app.herokuapp.com'}" : 
    "http://localhost:5174"
  reset_url = "#{frontend_url}/reset-password?reset_password_token=#{@token}"
%>

<p><%= link_to 'Reset my password', reset_url, style: 'display: inline-block; padding: 12px 24px; background-color: #4e2a84; color: white; text-decoration: none; border-radius: 4px; font-weight: bold;' %></p>

<p>Or copy and paste this link into your browser:</p>
<p><%= reset_url %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>This link will expire in 6 hours for security reasons.</p>

<p>Thanks,<br>
The PurplePlate Team</p>
