<div class="container mt-4">
<h1>Edit Food Item</h1>

<%= render 'form', food_item: @food_item %>

<%= link_to 'Show', @food_item, class: 'btn btn-info mt-3' %>
<%= link_to 'Back', food_items_path, class: 'btn btn-secondary mt-3' %>
</div>